.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
}

.header img {
  width: 60px;
}

.header-logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-login {
  padding-right: 20px;
}

.header-login-button {
  background-color: #5baaff;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.header-search{
  display: flex;
}
